a {
	color: green;
}
.topIcon {
	padding-top: 12px;
}

#photo {
	width: 128px;
	margin-right: 20px;
}

img {
	border-radius: 15px;
	border: 1px solid green;
}

#accountPic {
	padding-right: 10px;
}

#myHeader {
	padding-bottom: 20px;
}

.details {
	padding-left: 10px;
}

#payment {
	padding-left: 10px;
	padding-top: 20px;
}

#edit{
	color:green;
}

h2{
	color:green;
}

#edit{
	color: green;
}

#check{
	color:green;
}