
.topIcon {
	margin-top: 14px;
}
#topRightIconPadding {
	padding-left: 10vw;
}

#topIconPadding {
	padding-left: 3vw;
}

a {
	color: green;
}

.search {
  border: 2px solid green;
  max-width: 440px;
  max-height: 50px;
}

#myInput {
	width: 100%;
}

.items {
	max-width: 400px;
	padding: 5px;
	background-color: lightgrey;
	margin: 20px;
}

.items img {
	width: 100px;
}

.items td {
	padding-left: 5px;
}

#orderNumbers{
	font-size: 30px;
}

h2,h3{
	color:green;
}