#myHeader {
	background-color: white;
	padding-bottom: 10px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.header label {
	font-size: 10px;
	color: green;
}

h1 {
	margin-left: 12px;
	font-size: 24px;
}
.topIcon {
	margin-top: 14px;
}

#topRightIconPadding {
	padding-left: 10vw;
}

a {
	color: green;
}

#search {
  border: 2px solid green;
  max-width: 335px;
  max-height: 50px;
}

#myInput {
	width: 100%;
}

.items {
	max-width: 400px;
	padding: 5px;
	background-color: ghostwhite;
	margin: 15px;
	margin-top: 0px;
	border: 1px solid green;
	border-radius: 15px;
}

.historySellerItems {
	max-width: 400px;
	padding: 5px;
	background-color: whitesmoke;
	margin: 15px;
	margin-top: 0px;
	border: 1px solid green;
	border-radius: 15px;
}

#itemMainPic {
		width: 100;
		height: 100;
		text-align: center;
}

.items img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 15px;
}

.historySellerItems img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 15px;
}

.items td {
	padding-left: 5px;
}

.historySellerItems td {
	padding-left: 5px;
}

#orderNumbers{
	font-size: 30px;
}

.material-icons{
	color: green;
}

h1,h2{
	color: green;
}
